body {
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    height: 100%;
}

nav, 
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav{
   display: block;
}

nav a {
    display: block;
    color: white;
    padding: 10px 20px;
 }

 nav {
   position: absolute;
   background-color: #662626;
   font-size: 1rem;
   padding-left: 20px;
   padding-right: 20px;
 }

 #community-science-museum{
   display: none;
 }

 .hamburger-icon{
   color: black;
 }

.logo {
   display: none;
   height: 50px; 
   margin-right: 15px; 
 }
 
 .flex-container-space-between{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 header {
    position: relative;
    color: #fff;
    font-size: 1.5rem
 }

 @media(min-width: 600px){
    nav{
      display: block;
      position: static;
    }
    #nav-div-1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    #nav-div-2{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    #community-science-museum{
      display: block;
    }
    .hamburger-icon{
      display: none;
    }

   .logo{
      display: block;
    }
   nav a {
      display: inline-block;
   }
    
 }

 
.section-home-background{
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
   margin-bottom: 3%;
   background-image: url(/assets/william-bout-264826.jpg);
}
.section-home-background h1 {
   margin: 0 30px; 
   padding: 0;
}

.section-explore-background{
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
   margin-bottom: 3%;
   background-image: url(/assets/mammoth-1257288_1920.jpg);
}
.section-explore-background h1 {
   margin: 0; 
   padding: 0;
}

.section-exhibition-background{
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
   margin-bottom: 3%;
   background-image: url(/assets/nasa-cosmology.jpg);
}
.section-exhibition-background h1 {
   margin: 0 30px; 
   padding: 0;
}


.section-event-background{
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
   margin-bottom: 3%;
   background-image: url(/assets/exhibition-1863344_1920.jpg);
}



.section-visit-background{
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
   margin-bottom: 3%;
   background-image: url(/assets/scott-webb-102825.jpg);
}
.section-visit-background h1 {
   margin: 0; 
   padding: 0;
}




.h1-home{
   transform: translate(20%, 50%); 
   font-size: xx-large;
   color: #662626;
   display: block;
   width: 350px; 
   margin: 30px;
   word-wrap: break-word; 
   overflow-wrap: break-word;
   line-height: 1.5;
   font-weight: 500;
}

.h1-exhibition{
   transform: translate(50%, 50%); 
   font-size: x-large;
   color: #fff;
   display: block;
   width: 500px; 
   margin: 30px;
   word-wrap: break-word; 
   overflow-wrap: break-word;
   line-height: 1.5;
   font-weight: 500;
}


.row {
   display: flex;
   width: 70%;
   justify-content: center;
   margin: 0 auto;
}
.row-footer{
   display: flex;
   width: 100%;
   justify-content: center;
   margin: 0 auto;
}

.column{
   flex: 50.00%;
   padding: 5px;
   margin: 5px;
   
 }

.footr-column{
   flex: 100.00%;
   padding: 5px;
   margin: 50px;
   
 }

.img-box {
   max-width: 500px;
}

@media (max-width: 1000px) {
   .row{
      flex-wrap: wrap;
      justify-content: center;   
   }

   .img-box, .p-box {
      max-width: 300px;
   }

   section .p-box-event{
      width: 300px;
      font-size: 1rem;
      margin: 10px auto;
   }

   section .img-box-event{
      width: 300px;
      margin: 10px auto;
   }

   section .div-event-revers{
      display: flex;
      justify-content: center;
   }

}   


 .p-box {
   display: block;
   width: 500px; 
   margin: 30px;
   word-wrap: break-word; 
   overflow-wrap: break-word;
   line-height: 1.5;
 }

 .p-box-event {
   display: block;
   width: 800px; 
   margin-left: 200px;
   word-wrap: break-word; 
   overflow-wrap: break-word;
   line-height: 1.5;
 }

 .p-biolohgy-box {
   display: block;
   width: 70%; 
   margin-left: 200px;
   word-wrap: break-word; 
   overflow-wrap: break-word;
   line-height: 1.5;
 }

 .p-box-visit {
   display: block;
   width: 800px; 
   margin-left: 200px;
   word-wrap: break-word; 
   overflow-wrap: break-word;
   line-height: 1.5;
 }
  .p-visit{
      margin-left: 20px; 
  
  }

.div-event-revers{
   display: flex;
   flex-direction: row-reverse;
}
 .img-box-event {
   max-width: 800px;
   margin-right: 200px;
}

.img-box-explore {
   max-width: 800px;
   margin-right: 200px;
}  

.img-box-biology {
   width: 650px;
   height: 500px;
   margin: 20px;
}  

 .h4-box{
   display: block;
   width: 500px; 
   margin: 30px;
   word-wrap: break-word; 
   overflow-wrap: break-word;
   line-height: 1.5;
 }

 section{
   margin-bottom: 100px;

 }
 footer{
   background-color: #D9D9D9 ;
 }
 
 
 
 .socialicons{
   display: flex;
   justify-content: center;
 
 }
 
 .socialicons a img{
   height: 20px;
   width: 20px;
   margin: 2px;
 }
 
 .socialicons a:hover i{
   color: beige;
   transition:0.5s ;
 }
 
 .opening-hours{
   margin-left: 100px;
 }
